<h1 class="text-4xl font-bold">Contacto y Asesoramiento Laboral</h1>
<hr class="my-4">
<section>
  <p class="mb-6 leading-relaxed">
    ¿Tienes dudas sobre <strong>derechos laborales</strong> o necesitas <strong>asistencia profesional</strong>?
    En <strong>Alerta Trabajo</strong> estamos aquí para ayudarte.
    Contacta con nuestro equipo y recibe asesoramiento personalizado en cuestiones legales, licitaciones y consultas laborales.
  </p>

  <p class="mb-6 leading-relaxed">
    💼 Ya sea para resolver inquietudes sobre <strong>contratos</strong>, <strong>despidos</strong> o <strong>convenios colectivos</strong>, nuestro equipo de expertos está disponible para brindarte la orientación que necesitas.
  </p>

  <p class="mb-6 leading-relaxed">
    📩 Escríbenos directamente a:
    <a href="mailto:alertatrabajo.contacto@gmail.com" class="text-blue-400 hover:underline">
      alertatrabajo.contacto&#64;
      gmail.com
    </a>
    o conéctate con nosotros a través de:
    <a href="https://x.com/Alerta_Trabajo" target="_blank" class="text-blue-400 hover:underline">
      Twitter(X) (&#64;
      Alerta_Trabajo)
    </a> para recibir atención rápida y resolver tus consultas en tiempo real.
  </p>
</section>
